/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
    --navTest: rgb(15, 24, 39);
    --navHover: rgb(162, 167, 177);
    --callToActionText: 'Redressed', cursive;
    --callToActionTextColor: #9FAD94;

}

body {
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

#callToAction {
    background: url('images/background.jpg') center no-repeat;
    background-size: cover;  
    width: 100%;
    height: 65vh; 
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 2px;
}

nav li {
    display: inline;
    padding-right: 10px;
}

nav li a {
    text-decoration: none;
    color: var(--navTest);
    font-weight: bold;
    padding: 5px;
}

#navLinks li a:hover {
    background-color: var(--navHover);
    border-radius: 5px;
}

nav li a i {
    cursor: pointer;
}

#callToActionText {
    position: relative;
    width: 100%;
    height: 78%;
    font-family: var(--callToActionText);
    font-size: 3rem;
    color: var(--callToActionTextColor);
}

#callToActionText > h1 {
    margin-top: 50px;
    text-align: center;
    transition: transform 500ms ease;
    will-change: transform;
    transition-delay: 300ms;
}

#callToActionText > h1:hover {
    transform: translateX(25px);
    transition: transform 500ms;
}

#callToActionText > p {
    text-align: center;
    transition: transform 500ms ease;
    will-change: transform;
    transition-delay: 100ms;
}

#callToActionText > p:hover {
    transform: translateX(-25px);
    transition: transform 500ms;
}

#callToActionText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#callToActionText > p {
    margin-top: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

#slant {
    position: absolute;
    width: 100%;
    height: 100px;
    margin: 0px;
    background-color: white;
    transform: rotate(-4deg) translateX(20px);
    z-index: 0;
}

#lowerSection {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    margin: -30px;
    font-size: 1.3rem;
    font-family: var(--callToActionText);
    color: var(--callToActionTextColor);
}

#lowerSection > img {
    border-radius: 50%;
    width: 200px;
    height: 150px;
    transition: transform 500ms ease;
    will-change: transform;
    transition-delay: 100ms;
}

#lowerSection > img:hover {
    transform: rotate(-20deg);
    transition: transform 500ms;
}